@media (max-width: 1199px)
    html
        font-size: 8px
@media (max-width: 991px)
    html
        font-size: 7px

    .visible-lg
        display: none

    .m-menu
        &-link, &-hamburger 
            display: block

    .table

        .price
            &-tags
                flex-direction: column

            &-tag
                width: 90%
                margin: 2rem auto

    .footer
        &-wrap
            & .footer
                justify-content: center

        &-menu
            display: none
    
.legal
    .social-links
        font-size: 3rem !important
