@import '../css/normalize'
@import '_fonts'

*, *:before, *:after
    box-sizing: border-box
body
    font-family: 'mavenpro-regular', sans-serif
    margin: 0
html
    font-size: 10px
.main
    color: #fff
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    height: 100vh
    min-height: 600px
    background: url(../img/main-bg.jpg) no-repeat center
    background-size: cover

    &-overlay
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        opacity: 0.8
        z-index: 0
        background-image: linear-gradient(150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%)

    & .header
        display: flex
        height: 10vh
        justify-content: space-between
        align-items: center
        width: 90%
        position: relative
        z-index: 2

        & .menu 
            width: 70%
        
            & ul
                display: flex
                justify-content: space-around
                list-style: none

            &-link
                font-size: 1.6rem
                color: #ffffff
                text-decoration: none

                &.get-started-btn
                    margin-left: 100px
                    border: 1px solid #fff
                    padding: 10px 20px
                    border-radius: 100px
                    text-transform: uppercase

    &-text
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        position: relative
        z-index: 2
        text-align: center

        & span
            text-transform: uppercase
            font-size: 1.4rem
            display: inline-block

            &::after
                content: ''
                width: 20px
                height: 1px
                background-color: #fff
                display: inline-block
                vertical-align: middle
                margin-left: 10px
            
            &::before 
                content: ''
                width: 20px
                height: 1px
                background-color: #fff
                display: inline-block
                vertical-align: middle
                margin-right: 10px

        & h1
            font-family: 'mavenpro-regular', sans-serif
            margin: 0.5rem
            font-size: 8.6rem

        & p
            font-size: 1.8rem
            max-width: 45rem
            line-height: 28px

    &-arrow
        position: relative
        z-index: 2
        height: 20vh
        display: flex
        justify-content: center
        align-items: center

        & .arrow-down
            text-align: center
            line-height: 60px
            border-radius: 50%
            width: 50px
            height: 50px
            background-color: #fff
            box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);

.table
    background-color: #f9fafc
    padding: 12rem

    &-header
        text-align: center

        & span
            text-transform: uppercase
            font-family: 'mavenpro-bold' 
            font-size: 1.4rem
            color: #9fa4af

            &::after
                content: ''
                width: 20px
                height: 1px
                background-color: #6e45e2
                display: inline-block
                vertical-align: middle
                margin-left: 10px

            &::before
                content: ''
                width: 20px
                height: 1px
                background-color: #6e45e2
                display: inline-block
                vertical-align: middle
                margin-right: 10px

        & h2
            color: #4f4f6f
            font-size: 6rem
            margin: 0

        & p
            color: #9fa4af
            font-size: 1.8rem
            display: inline-block
            width: 37rem
            line-hight: 28px

    .price
        &-tags
            display: flex
            justify-content: space-around
            align-items: center
            margin-top: 10rem
        &-tag
            background-color: #fff
            border-radius: 3rem
            padding: 2rem
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
            text-align: center
            width: 44rem
            border: 0.1rem solid #d7dbe8
            transition: 0.5s

            &:hover
                cursor: pointer 
                box-shadow: 0px 0px 81.88px 10.12px rgba(204, 204, 223, 0.71);
                transition: 0.2s

            span
                color: #9fa4af
                font-family: "mavenpro-bold"
                font-size: 1.4rem
                line-height: 3.2rem
                text-transform: uppercase
                margin-top: 5.3rem

            h4
                color: #4f4f6f
                margin: 1rem
                font-family: 'mavenpro-medium'
                font-size: 3.5rem

                & sub
                    font-size: 1.4rem

                & sup
                    font-size: 1.4rem
                    vertical-align: super
                    margin-right: 0.5rem

            & img
                margin-top: 5.9rem

            & p
                color: #9fa4af
                font-size: 1.6rem
                line-height: 28px
                width: 30rem

        &-btn
            background-color: #fff
            border: 1px solid #9fa4af
            color: #9fa4af
            text-transform: uppercase
            font-size: 1.2rem
            font-family: 'mavenpro-bold'
            padding: 2.1rem 5.4rem
            border-radius: 10rem
            margin-top: 4.9rem
            margin-bottom: 6rem
            transition: 0.2s

            &:hover
                transition: 0.2s
                color: #fff
                background-color: #6e45e2