@import '../css/normalize'
@import '_fonts'

*, *:before, *:after
    box-sizing: border-box
body
    font-family: 'mavenpro-regular', sans-serif
    margin: 0
.main
    color: #fff
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    height: 100vh
    min-height: 600px
    background: url(../img/main-bg.jpg) no-repeat center
    background-size: cover

    &-overlay
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        opacity: 0.8
        z-index: 0
        background-image: linear-gradient(150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%)

    & .header
        display: flex
        height: 10vh
        justify-content: space-between
        align-items: center
        width: 90%
        position: relative
        z-index: 2

        & .menu 
            width: 70%
        
            & ul
                display: flex
                justify-content: space-around
                list-style: none

            &-link
                color: #ffffff
                text-decoration: none

                &.get-started-btn
                    margin-left: 100px
                    border: 1px solid #fff
                    padding: 10px 20px
                    border-radius: 100px
                    text-transform: uppercase

    &-text
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        position: relative
        z-index: 2
        text-align: center

        & span
            display: inline-block

            &::after
                content: ''
                width: 20px
                height: 1px
                background-color: #fff
                display: inline-block
                vertical-align: middle
                margin-left: 10px
            
            &::before 
                content: ''
                width: 20px
                height: 1px
                background-color: #fff
                display: inline-block
                vertical-align: middle
                margin-right: 10px

        & h1
            font-family: 'mavenpro-regular', sans-serif
            margin: 0.5rem
            font-size: 86px

    &-arrow
        position: relative
        z-index: 2
        height: 20vh
        display: flex
        justify-content: center
        align-items: center

        & .arrow-down
            text-align: center
            line-height: 55px
            border-radius: 50%
            width: 50px
            height: 50px
            background-color: #fff
            box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);

.table
    background-color: #f9fafc
    height: 10vh
    min-height: 600px

    &-header
        & span
            text-transfor: uppercase
            font-size: 1.4rem
            color: #9fa4af
        & h2
            color: #4f4f6f

